.App {
  text-align: center;
}
.Menu{
  display:flex;
  justify-content: space-between;
  background:black;
  color:white;
}
.link{
  color:white;
  list-style: none;
}
.landing{
  background-image: url(/background4.jpg);
  background-position: center,center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 50px;  
}

.landing-title{
  color:white;
  font-size: 50px;
  text-align: right;
  margin-bottom: 36px;
  font-family: 'Noto Sans KR', sans-serif;
}
.content{

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
