body{
    box-sizing: border-box;
    margin:0;
}
$경고창색:#ff4949;


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn{  
    display: flex; 
    justify-content: center;
    align-items: center;
    padding:20px;
    margin:0;
}